@value fs: "../fontWeigth.css";
@value fs-normal from fs;
@value colors: "../colors.css";
@value neutral-grayish-blue from colors;

.container {
  padding: var(--padding);
  position: relative;
}

.background-image {
  position: absolute;
  inset: 0;
  top: -5rem;
  z-index: -1;
}

.image {
  margin-top: -12rem;
}
.text-container {
  text-align: center;
  padding: calc(var(--padding) * 2);
}
.title {
  font-size: 2.25rem;
  font-weight: fs-normal;
  margin-bottom: 1rem;
}
.sub-title {
  color: neutral-grayish-blue;
  line-height: 1.8;
}
