.image-container {
  position: relative;
}
.background-image {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4rem;
  top: 0;
  z-index: -1;
  background-image: url("../../assets/svg/bg-intro-mobile.svg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
