:root {
  --neutral-ligth-gray: hsl(0, 0%, 98%);
  --neutral-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  font-family: "Public Sans", sans-serif;
}

body {
  font-size: 1.1rem;
}

button {
  border: none;
  color: inherit;
  font-weight: inherit;
  background-color: transparent;
  cursor: pointer;
}
button:focus {
  outline: 2px solid black;
}

ul {
  list-style-type: none;
}

#root {
  --padding: 1rem;
}

img {
  width: 100%;
  max-width: 100%;
}

div[data="background"]:empty {
  display: none;
}

#root > section:first-of-type {
  padding-top: 0;
}
#root > section {
  padding-top: 4rem;
}
#root > section:nth-child(even) {
  background-color: var(--neutral-white);
}
#root > section:nth-child(odd) {
  background-color: var(--neutral-ligth-gray);
}
