:root {
  --neutral-ligth-gray: hsl(0, 0%, 98%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-ligth-grayish-blue: hsl(220, 16%, 96%);
  --paddingInline: 2rem;
  --paddingBlock: 6rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  font-family: "Public Sans", sans-serif;
}

body {
  font-size: 1.1rem;
}

button {
  border: none;
  color: inherit;
  font-weight: inherit;
  background-color: transparent;
  cursor: pointer;
}
button:focus {
  outline: 2px solid black;
}
img {
  max-width: 100%;
  display: block;
}
ul {
  list-style-type: none;
}

img {
  width: 100%;
  max-width: 100%;
}

div[data="background"]:empty {
  display: none;
}

/* 
#root > section:first-of-type {
  padding-top: 0;
} */
#root > * {
  padding-inline: var(--paddingInline);
}
#root > *:not(header) {
  padding-top: 4rem;
  padding-block: var(--paddingBlock);
}

#root > *:not(header, footer):nth-child(even) {
  background-color: var(--neutral-ligth-grayish-blue);
}
#root > *:not(header, footer):nth-child(odd) {
  background-color: var(--neutral-ligth-gray);
}

@media (width > 800px) {
  #root {
    --paddingInline: 4rem;
  }
  button:focus {
    outline: none;
  }
}
